

  <form class="p-3" [formGroup]="diplomaForm" (ngSubmit)="onSubmit()">
    <div class="form-row"> 
      <div class="mb-3  col-6">
        <label for="diploma_en_name" class="form-label">English Name</label>
        <input type="text" class="form-control" id="diploma_en_name" aria-describedby="emailHelp" formControlName="diploma_en_name">
      </div>
      <div class="mb-3 col-6">
          <label for="diploma_ar_name" class="form-label">Arabic Name</label>
          <input type="text" class="form-control" id="diploma_ar_name" aria-describedby="emailHelp" formControlName="diploma_ar_name">
        </div>
      <div class="col-7 mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
      <div class="col-md-4 mb-3">
          <label for="category" class="form-label col-md-6">Category</label>
          <select name="category" formControlName="categoryIds" multiple>
            <option *ngFor="let category of CategorieLest" [value]="category.id">{{category.ar_name}}</option>
          </select>
        </div>
        <div class="mb-3  col-6">
          <label for="from_date" class="form-label">From Date</label>
          <input type="date" class="form-control" id="from_date" aria-describedby="emailHelp" formControlName="from_date">
        </div>
        <div class="mb-3 col-6">
            <label for="to_date" class="form-label">To Date</label>
            <input type="date" class="form-control" id="to_date" aria-describedby="emailHelp" formControlName="to_date">
          </div>
          <div class="input-group mb-3  col-12">
              <span class="input-group-text">Description</span>
              <textarea class="form-control" aria-label="With textarea" formControlName="diploma_description"></textarea>
            </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>